#projects {
  padding: 4px;
  /* without this percentage width setting the folder is not flexible. Remove this in the future in favor of media queries.*/
  width: 40%;
  min-width: 230px;
  max-width: 540px;
  position: absolute;
  top: 100px;
  left: 100px;
  display: none;
  flex-direction: column;
  background-color: var(--border-main-color);
  border-top: 1px solid white;
  border-right: 1px solid var(--border-dark-color);
  border-bottom: 1px solid var(--border-dark-color);
  border-left: 1px solid white;
  box-shadow:
    -1px -1px var(--border-main-color),
    -1px 0px var(--border-main-color),
    0px -1px var(--border-main-color),
    1px 1px black,
    -1px 1px black,
    1px -1px black;
}

#upper-header {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--active-blue);
  cursor: grab;
}

#heading-cont {
  position: relative;
}

#header-icon {
  position: absolute;
  top: -13px;
  left: -2px;
  width: 22px;
  height: 22px;
  color: white;
}

#folder-name {
  min-width: 100px;
  position: absolute;
  top: -16px;
  left: 28px;
  font-size: 0.9em;
  font-weight: 900;
  color: white;
}

.window-btns {
  display: flex;
  gap: 4px;
}

.window-btn {
  padding-right: 2px;
  padding-left: 1px;
  padding-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--outset);
}

.window-btn:active {
  box-shadow: var(--light-inset);
}

#folder-btns {
  padding: 4px 0 4px 8px;
  display: flex;
  gap: 16px;
  background-color: var(--border-main-color);
}

.folder-btn {
  border: none;
  font-size: 0.8em;
  background-color: var(--border-main-color);
}

#file-icons {
  min-height: 160px;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 80px);
  grid-template-rows: repeat(auto-fit, 80px);
  background-color: white;
  box-shadow: var(--inset);
}

.file {
  padding: 6px 9px 9px 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.8em;
  background-color: white;
}

.file p {
  padding-left: 1px;
}

.file img {
  width: 32px;
  height: auto;
}

.file:active p {
  color: white;
  background-color: var(--active-blue);
}

.file:active img {
  filter: invert(15%) sepia(43%) saturate(5920%) hue-rotate(239deg)
    brightness(81%) contrast(127%);
}

#folder-footer {
  margin-top: 5px;
  display: flex;
  gap: 4px;
  font-size: 0.8em;
  background-color: var(--border-main-color);
}

.footer-object {
  min-width: 120px;
  padding: 2px 0px 1px 4px;
  box-shadow: var(--light-inset);
}

#folder-footer div:last-child {
  flex: 1;
}
