@tailwind base;
@tailwind components;
@tailwind utilities;

button, a { 
	cursor: url('./cursors/cursor-default-32.png') 1 3, default;
}

@layer base {
	:root {
		--color-text: black;
		--color-text-highlight: white;
		--color-background: white;
		--color-primary: white;
		--color-secondary: rgb(211, 211, 211);
		--color-trim: black;
		--color-highlight: black;
		--color-shadow-highlight: white;
	}
}

.theme-DEFAULT {
	--color-text: black;
	--color-text-highlight: white;
	--color-background: white;
	--color-primary: white;
	--color-secondary: rgb(211, 211, 211);
	--color-trim: black;
	--color-highlight: black;
	--color-shadow-highlight: white;
}

.theme-PURPLE {
	--color-text: #6a2cbd;
	--color-text-highlight: #c5a1ff;
	--color-background: #c5a1ff;
	--color-primary: #c5a1ff;
	--color-secondary: #c5a1ff;
	--color-trim: #6a2cbd;
	--color-highlight: #6a2cbd;
	--color-shadow-highlight: #e5ddff;
}

.theme-RED {
	--color-text: #1d1d1d;
	--color-text-highlight: #f1152b;
	--color-background: #f1152b;
	--color-primary: #f1152b;
	--color-secondary: #f1152b;
	--color-trim: #1d1d1d;
	--color-highlight: #1d1d1d;
	--color-shadow-highlight: #ff394c;
}

.theme-BLUE {
	--color-text: #3737d3;
	--color-text-highlight: #7dadf5;
	--color-background: #7dadf5;
	--color-primary: #7dadf5;
	--color-secondary: #7dadf5;
	--color-trim: #3737d3;
	--color-highlight: #3737d3;
	--color-shadow-highlight: #b0b0ff;
}

@font-face {
	font-family: 'Geneva';
	src: url('./fonts/Geneva.ttf') format('truetype');
}

@font-face {
  font-family: 'Sysfont';
  src: url('./fonts/sysfont.woff2') format('woff2'),
  url('./fonts/sysfont.woff') format('woff');
}

@layer components {
	* {
		font-family: 'Sysfont', 'Geneva', serif;
		letter-spacing: 1.5px;
		font-weight: 500;
		font-style: normal;
		font-weight: normal;
		text-rendering: geometricPrecision;
		touch-action: none;
		
		scrollbar-color: var(--color-primary) var(--color-trim);
		-webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* IE 10 and IE 11 */
		user-select: none; /* Standard syntax */
	}

	html {
		overflow: hidden;
		font-size: 30px;
		line-height: 30px;
	}

	img {
		image-rendering: pixelated;
	}

	dialog:modal {
		max-width: 100vw;
		max-height: 100vh;
	}
}

.button-noise {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.87' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
	background-blend-mode: overlay;
}

.bg {
	background-color: var(--color-background);
	background-image: 
		linear-gradient(45deg, var(--color-trim) 25%, transparent 25%, transparent 75%, var(--color-trim) 75%, var(--color-trim)), 
		linear-gradient(45deg, var(--color-trim) 25%, transparent 25%, transparent 75%, var(--color-trim) 75%, var(--color-trim));
	background-size: 4px 4px;
	background-position: 0 0, 2px 2px;
}

.horizontal-lines {
    background-image: 
		repeating-linear-gradient(0deg, var(--color-trim), var(--color-trim) 2px, transparent 2px, transparent 4px);
    background-size: 2px;
}
